body{overflow-x:hidden;}
body,h1,h3,h4,h2,h5,h6,ul,ol,p,fieldset,dd,dl,input,textarea,option,hr,td{
    margin:0;
    padding:0; 
    font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none; color:inherit;}
a,input{outline:none;}
body{font:12px/1em "微软雅黑"; color:#000;}
.clear:after{content:"."; display:block; clear:both;height:0; visibility:hidden;}
.clear{zoom:1;}
.clamp1{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.box{
    width: 1230px;
    height: auto;
    margin: 0 auto;
}
.goods{
    width: 224px;
    float: left;
    height: auto;
    margin-right: 20px;
    margin-bottom: 30px;
}
.goods>img{
    width: 224px;
    height: 340px;
    overflow: hidden;
    display: block;
}
.part {
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
}
.price {
    display: inline-block;
    font-size: 16px;
    color: #f36;
    margin-right: 2px;
}
.collect {
    float: right;
    line-height: 14px;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 3px;
    color: #999;
}
.icon-star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(http://s2.mogucdn.com/mlcdn/c45406/170328_88giad0l4lcl61kg8ak02567ddhfd_32x30.png) center no-repeat;
    background-size: 100%;
}
.title {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-select {
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-right: 4px;
    background: url(http://s2.mogucdn.com/p2/170314/133753108_5996kakhb5c3kl74gjg24c2h24l48_90x42.png) no-repeat center;
    background-size: contain;
    vertical-align: sub;
}
.goods>button{
    display: block;
    width: 224px;
    height: 40px;
    margin: 5px 0 0 0;
}